.movieEdit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Take full width of the main content */
    padding: 20px;
  }
  
  .movieEdit h1 {
    margin-bottom: 20px;
    color: #555;
  }
  
  .movieEditForm {
    display: flex;
    flex-direction: column;
    width: 100%; /* Full width of the container */
    max-width: 700px; /* Optional: set max width */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .movieEditItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .movieEditItem label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .movieEditItem input[type="text"],
  .movieEditItem input[type="number"],
  .movieEditItem input[type="url"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .movieEditItem input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
  
  .movieEditItem input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  